{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'external/photoswipe/photoswipe.css' %}">
    <link rel="stylesheet" href="{% static 'external/photoswipe/default-skin/default-skin.css' %}">
{% endblock %}

{% block content%}
{% if album.is_visible %}

        <div id="main">
          <div class="inner">

            <header id="header">
                <div class="logo">
                    <div class="logoimg">
                        <a href="main"><img src="static/images/logob.png" alt=""></a>
                    </div>
                </div>
            </header>

            <section class="left-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                      <img src="{{ album.thumb.url }}" class="responsive-img dpg-album-image" alt="{{ item.alt }}" />
                  </div>
                  <div class="col-md-6">
                    <div class="right-content">
                        <h4>{{ album.title }}</h4>
                        <p>{{ album.description1 }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="simple-post">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="down-content">
                        <p>{{ album.description2 }}</p>
                        <p>{{ album.description3 }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
              <br>
              <h3>GALERIA ZDJĘĆ</h3>
              <br>
              <div class="container1">
                    <div class="row1">
                        {% for item in images %}
                        <a class="col1 s12 m3" href="javascript:pswpInit({{ forloop.counter0 }});">
                            <img src="{{ item.thumb.url }}" class="responsive-img dpg-album-image" alt="{{ item.alt }}" />
                        </a>
                        {% endfor %}
                    </div>
                </div>
          </div>
        </div>

        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
                <div class="pswp__ui pswp__ui--hidden">

                    <div class="pswp__top-bar">
                        <div class="pswp__counter"></div>

                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                              <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>

                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                    </button>

                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                    </button>

                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>

                </div>

            </div>

        </div>
    {% else %}
        <h3>This album is temporarily unavailable.</h3>
    {% endif %}

{% endblock %}
{% block js %}
    <script>
        window.djangoAlbumImages = [
            {% for item in images %}
                {
                    src: '{{ item.image.url }}',
                    w:  {{ item.width }},
                    h:  {{ item.height }}
                },
            {% endfor %}
        ];
    </script>
    <script src="{% static 'external/photoswipe/photoswipe.min.js' %}"></script>
    <script src="{% static 'external/photoswipe/photoswipe-ui-default.min.js' %}"></script>
{% endblock %}
