{% load static %}
<html lang="pl">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
            <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Install Home</title>

    <link href="{% static 'material/css/bootstrap.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'material/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'material/css/templatemo-style.css' %}">
    <link rel="stylesheet" href="{% static 'material/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'external/photoswipe/photoswipe.css' %}">
    <link rel="stylesheet" href="{% static 'external/photoswipe/default-skin/default-skin.css' %}">



  </head>
<body class="is-preload">

    <div id="wrapper">

{% block content %}
         <div id="main">
          <div class="inner">

            <header id="header">
                <div class="logo">
                    <div class="logoimg">
                        <a href="main"><img src="{% static 'images/logob.png' %}" alt=""></a>
                    </div>
                </div>
            </header>
            <section class="main-banner">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="banner-content">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="banner-caption">
                            <h4>{{ oferta.nazwa }}</h4>
                              <div class="primary-button">
                                  <a href="http://127.0.0.1:8000/oferty">Powrót do ofert</a>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </section>
{% for cena in cenniks %}
    {% if cena.lewo == True %}
    <section class="left-image">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <img src="{{ cena.zdjecie.url }}" class="responsive-img dpg-album-image" alt="{{ cena.alt }}">
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <h4>{{ cena.nazwa }}</h4>
              <p>{{ cena.opis|linebreaksbr }}</p>
              <h4><b>{{ cena.cena }}</b></h4>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% elif cena.prawo == True %}

    <section class="right-image">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <h4>{{ cena.nazwa }}</h4>
              <p>{{ cena.opis|linebreaksbr }}</p>
              <h4><b>{{ cena.cena }}</b></h4>
            </div>
          </div>
          <div class="col-md-6">
            <img src="{{ cena.zdjecie.url }}" class="responsive-img dpg-album-image" alt="{{ cena.alt }}">
          </div>
        </div>
      </div>
    </section>
    {% endif %}
{% endfor %}
          </div>
         </div>
<div class="pagination center">
    <span class="step-links">
        {% if albums.has_previous %}
        <a href="?page={{ albums.previous_page_number }}" class="waves-effect waves-light btn btn-large">Previous</a>
        {% endif %}

        {% if albums.has_next %}
        <a href="?page={{ albums.next_page_number }}" class="waves-effect waves-light btn btn-large">Next</a>
        {% endif %}
    </span>
</div>
{% endblock %}

        <link href="{% static 'material/css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'material/css/fontawesome.css' %}">
        <link rel="stylesheet" href="{% static 'material/css/templatemo-style.css' %}">
        <link rel="stylesheet" href="{% static 'material/css/owl.css' %}">
        <link rel="stylesheet" href="{% static 'external/photoswipe/photoswipe.css' %}">
        <link rel="stylesheet" href="{% static 'external/photoswipe/default-skin/default-skin.css' %}">
        <script src="{% static 'material/js/jquery.min.js' %}"></script>
        <script src="{% static 'material/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'material/js/browser.min.js' %}"></script>
        <script src="{% static 'material/js/breakpoints.min.js' %}"></script>
        <script src="{% static 'material/js/transition.js' %}"></script>
        <script src="{% static 'material/js/owl-carousel.js' %}"></script>
        <script src="{% static 'material/js/custom.js' %}"></script>


</body>
</html>



