{% extends 'base.html' %}

{% block content %}
         <div id="main">
          <div class="inner">

       
            <header id="header">
                <div class="logo">
                    <div class="logoimg">
                        <a href="main"><img src="static/images/logob.png" alt=""></a>
                    </div>
                </div>
            </header>

    Strona w budowie

          </div>
         </div>
<div class="pagination center">
    <span class="step-links">
        {% if albums.has_previous %}
        <a href="?page={{ albums.previous_page_number }}" class="waves-effect waves-light btn btn-large">Previous</a>
        {% endif %}

        {% if albums.has_next %}
        <a href="?page={{ albums.next_page_number }}" class="waves-effect waves-light btn btn-large">Next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
